<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>
  <header>
    <module id="nav" config="nav.json"></module>
    <module id="nav" config="nav2.json"></module>
  </header>
</body>
</html>